.feather {
  min-width: 1.75rem;
  width: 1.0625rem;
  height: 1.0625rem;
  margin-top: -0.001rem;
}

.input-group-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.input-group-reverse>.input-group-text {
  border-color: transparent;
}

.inline-block {
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 1050;
}
.offcanvas-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  background-color: white;
  z-index: 1050;
  padding: 20px;
}

.position-relative {
  position: relative;
}